body, h1, p {
  margin: 0;
}

html,
footer,
header,
main,
menu,
nav,
section{
  display: block;
}

html,
body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Adventure;
    src: url("../images/Adventure/Adventure Hollow.otf");
    font-weight: normal;
}


/* ##########################################
            SECTION: Banner Home  
########################################## */

header {
    width: 100%;
    height: 20%;
    background-image: url('../images/jungle2-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    z-index: 100;
}

div#tabletitle {
    display: table-cell;
    vertical-align: middle;
}

header h1{
    font-family: Adventure;
    color: #ffe81f;
    font-size: 4rem;
    margin:0 auto;
    text-align: center;
    z-index: 100;
}



/* ##########################################
            SECTION: Nav Bar 
########################################## */

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(0,0,0);
    z-index: 100;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    border-top: 0;
}

.navWrapper {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #0E0E0E;
    z-index: 6;
    border-bottom: 1px solid #3C3C3C;
}

/********* Home Buttom section on nav ***********/

.homebuttonwrapper {
    position: fixed;
    z-index: 100;
}

/*
Homebutton is hidden 
*/
.homebutton {
    float: left;
    border-left: 0px solid #ffe81f;
    border-bottom: 60px solid #ffe81f;
    border-right: 0px solid transparent;
}

img.logo {
    display: none;
}

/* 
Homebutton is display 
*/
.homebuttonSticky{
    float: left;
    border-right: 60px solid transparent;
    border-left: 110px solid #ffe81f;
    border-bottom: 60px solid #ffe81f;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

img.logoSticky {
    max-height: 43px;
    position: absolute;
    left: 60px;
    top: 8px;
    -webkit-filter: drop-shadow(1px 1px 1px #a1a1a1);
}

img.logoSticky:hover {
    top: 7px;
    -webkit-filter: drop-shadow(2px 2px 1px #818181);
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}




/*********** white effect on nav ***********/

.naveffect{
    float: left;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    border-top: 60px solid transparent;
    transition: border-left 0.2s ease;
    -moz-transition: border-left 0.2s ease;
    -webkit-transition: border-left 0.2s ease;

}
.navSticky {
    float: left;
    position: absolute;
    z-index: -1000;
    border-right: 60px solid transparent;
    border-left: 150px solid transparent;
    border-top: 60px solid #FFFFFF;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;

    -webkit-transition-delay: 0.6s; 
    transition-delay: 0.6s;
}


/*********** nav Menu ***********/

.navbutton {
    height: 60px;
    /*display: flex;*/
}

.navbutton ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: table;
    height: 60px;
    border-right: 1px solid #3C3C3C;
}

.alignul{
    margin: 0 auto;
    padding: 0;
    height: 60px;
}


.navbutton ul > li {
    width: 130px;
    border-left: 1px solid #3C3C3C;
    height: 60px;
    position: relative;
    display: table-cell;

    transition:  background-color 0.6s ease;
    -moz-transition:  background-color 0.6s ease;
    -webkit-transition:  background-color 0.6s ease;
}

.navbutton ul > li:hover {
    background-color: #1B1B1B;

    transition:  background-color 0.6s ease;
    -moz-transition:  background-color 0.6s ease;
    -webkit-transition:  background-color 0.6s ease;
}

.navbutton li > img {
    height: 23px;
    padding-top: 5px;
}

li#active{
     text-shadow: 0px 0px 7px #FFFF00;
}

.navbutton a {
    text-align: center;
    text-decoration: none;
    display: block;
    height: 60px;
}


.navbutton a > img {
    height: 23px;
    padding-top: 5px;
}


.navbutton span {
    margin-top: -1px;
    display:block;
    color:#fff;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1rem;
}

.navbutton a[href*=index]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #FF00FF;
}

.navbutton a[href*=movies]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #FFFF00;
}

.navbutton a[href*=characters]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #FF0000;
}

.navbutton a[href*=location]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px  #00FFFF;
}

.navbutton a[href*=bio]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #00FF00;
}

.navbutton a[href*=indiana]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #FFFF00;  
}

.navbutton a[href*=aboutme]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #0000FF;
}


/*********** light saberlight on nav ***********/

div.saberlight {
    height: 1px;
    width: 0%;
    position: relative;
    display: block;
    z-index: 4;

}

div.saberlightSticky  {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: #FFFF00 0px 0px 6px 2px;
    position: relative;
    display: block;
    z-index: 1000;

    

    transition: width 1.5s ease;
    -moz-transition: bwidth 1.5s ease;
    -webkit-transition: width 1.5s ease;

    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
}

/* ##########################################
            SECTION: Page main
########################################## */

.content {
    background-color: rgb(240, 240, 240);
    padding-bottom: 50px;
}

div#contentwrapper{
    display: list-item;
}

section {
    width: 100%;
    padding-top: 50px;
}

div.card {
    height: 100%;
    width: 804px;
    background-color: #141414;
    /* border-radius: 10px 10px 0px 0px; */
    border-radius: 6px;
    margin: 0 auto;
    z-index: 2;
    transition: border-radius 0.6s ease-out;
    -moz-transition: border-radius 0.6s ease-out;
    -webkit-transition: border-radius 0.6s ease-out;
}

div.card:hover {
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}

div.cardvisiblewrapper:hover > div.posterwrapper {
    border-radius: 4px 0px 0px 0px;
}

div.cardvisiblewrapper:hover > div.posterwrapper:after {
    opacity: 1;
    transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
}

div.cardvisiblewrapper:hover > div.moviemeta h2{
    color: #CAB926;
    transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;
}

div.cardvisiblewrapper:hover > div.moviemeta p{
    color: #868585;
    transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;
}


div.cardvisiblewrapper:hover ~ div.bottomcard {
    height: 20px;
    transition: height 0.6s ease;
    -moz-transition: height 0.6s ease;
    -webkit-transition: height 0.6s ease;

    -webkit-transition-delay: 0.3s; 
    transition-delay: 0.3s;
}

div.cardvisiblewrapper {
    position: relative;
    height: 151px;
    width: 804px;
    background-color: #0E0E0E;
    z-index: 5;
    border-radius: 6px;
}


div.posterwrapper:after {
    content: " ";
    background-color: rgba(0, 0 , 0, 0.4);
    opacity:0;
    padding: 0px 0px 134px 302px;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}

div.slidecard{
    display: none;
    width: 804px;
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.5);
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

}

.videoWrapper iframe {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 94%;
    height: 94%;
}

div.bottomcard {
    /*height: 20px;*/
    height: 0px;
    width: 804px;
    background-color: #141414;
    float: left;
    border-radius: 0px 0px 6px 6px;
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.5);
    transition: height 0.6s ease;
    -moz-transition: height 0.6s ease;
    -webkit-transition: height 0.6s ease;
    z-index: 1;
}

div.bottomcard ~ span {
    position: relative;
    top: -9px;
    width: 124px;
    float: left;
    border-right: 6px solid rgba(255, 235, 59, 0);
    border-left: 6px solid rgba(255, 232, 31, 0);
    border-bottom: 9px solid rgb(240, 240, 240);
    margin-left: 500px;
    z-index: 3;
    transition: height 0.6s ease;
    -moz-transition: height 0.6s ease;
    -webkit-transition: height 0.6s ease;
}

div.posterwrapper {
    float: left;
    width: 302px;
    height: 151px;
    border-radius: 4px 0px 0px 4px;
    border-right: 2px solid #FFFF00;

    transition: border-radius 0.6s ease-out;
    -moz-transition: border-radius 0.6s ease-out;
    -webkit-transition: border-radius 0.6s ease-out;
}


/*********** Poster Movie ***********/


div.Raiders_of_the_Lost_Ark{
    background: url(../images/Raiders_of_the_Lost_Ark.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.Indiana_Jones_and_the_Temple_of_Doom{
    background: url(../images/Indiana_Jones_and_the_Temple_of_Doom.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.Indiana_Jones_and_the_Last_Crusade{
    background: url(../images/Indiana_Jones_and_the_Last_Crusade.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.Kingdom_Crystal_Skul{
    background: url(../images/Kingdom_Crystal_Skul.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.indiana_5{
    background: url(../images/indiana_5.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}


div.moviemeta {
    height: 151px;
    width: 500px;
    float: right;
    /*box-shadow: inset 10px 5px 10px 0px rgba(0,0,0,0.5);*/
    box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.5);
}

div.moviemeta h2,p {
    color: #CCC;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;
}

div.moviemeta h2 {
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
}

div.moviemeta p {
   margin: 15px 15px 15px 25px;
   font-size: 15px;
}



/* ##########################################
            Mobile CSS
########################################## */

.burger_menu{
    display:none;
}

.burger_menu_sticky {
    display:none;
}

@media screen and (max-width: 700px){

    header h1 {
        font-size: 2rem;
    }

    .navbutton ul > li {
        border-left: 1px solid #3C3C3C;
        border-right: 1px solid #3C3C3C;
        border-bottom: 1px solid #3C3C3C;
        width: 250px;
        display: block;
        background-color: #0E0E0E;
        position: relative;
        left:-252px;
    }

    .navbutton ul {
        margin: 0;
        border-right: 0px solid #3C3C3C;
        display: block;
    }

    .burger_menu {
        background-image: url('../images/burger-menu.png');
        background-size: 40px;
        width: 250px;
        height: 61px;
        background-repeat: no-repeat;
        display: block;
        top: 15px;
        left: 15px;
        position: relative;
        z-index: 1000;
    }

    .burger_menu_sticky {
        background-image: url('../images/burger-menu.png');
        background-size: 40px;
        width: 250px;
        height: 61px;
        background-repeat: no-repeat;
        display: block;
        top: 15px;
        position: relative;
        z-index: 1000;
        left: 210px;
    }


        .navbutton a {
            display: block;
            text-align: left;
        }

        .navbutton a > img {
            display: inline-block;
            height: 30px;
            padding: 15px 40px;
        }

        .navbutton a > span {
            display: inline-block;
            position: relative;
            top: -23px;
        }

        div.card {
            height: 100%;
            width: 300px;
            /* background-color: #242424; */
            /* border-radius: 6px; */
            margin: 0 auto;
            z-index: 2;
            transition: border-radius 0.6s ease-out;
            -moz-transition: border-radius 0.6s ease-out;
            -webkit-transition: border-radius 0.6s ease-out;
        }


        div.cardvisiblewrapper {
            position: relative;
            height: 240px;
            width: 300px;
            background-color: #1E1E1E;
            z-index: 5;
            border-radius: 6px;
        }


        div.posterwrapper {
            /* float: left; */
            width: 300px;
            height: 151px;
            border-radius: 6px 6px 0px 0px;
            border-bottom: 2px solid #FFFF00;
            border-right: none;
            transition: border-radius 0.6s ease-out;
            -moz-transition: border-radius 0.6s ease-out;
            -webkit-transition: border-radius 0.6s ease-out;
        }

        div.moviemeta {
            height: 78px;
            width: 300px;
            /* float: right; */
             box-shadow: none; 
            /* box-shadow: inset 5px 0px 5px 0px rgba(0,0,0,0.5); */
        }


        div.moviemeta h2 {
            margin-top: 12px;
            padding: 9px;
            text-align: center;
            font-size: 17px;
            display: block;
        }


        div.moviemeta p {
            margin: 15px 15px 15px 25px;
            font-size: 15px;
            display: none;
        }

        div.bottomcard ~ span {
            position: relative;
            top: -7px;
            width: 80px;
            float: left;
            border-right: 6px solid rgba(255, 235, 59, 0);
            border-left: 6px solid rgba(255, 232, 31, 0);
            border-bottom: 9px solid rgb(240, 240, 240);
            margin-left: 151px;
            z-index: 5;
            transition: height 0.6s ease;
            -moz-transition: height 0.6s ease;
            -webkit-transition: height 0.6s ease;
        }

        div.slidecard {
            display: none;
            width: 300px;
            box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.5);
        }

        div.bottomcard {
            /* height: 20px; */
            height: 0px;
            width: 300px;
            background-color: #141414;
            float: left;
            border-radius: 0px 0px 6px 6px;
            box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.5);
            transition: height 0.6s ease;
            -moz-transition: height 0.6s ease;
            -webkit-transition: height 0.6s ease;
            z-index: 1;
        }

        div.posterwrapper:after {
            content: " ";
            background-color: rgba(0, 0 , 0, 0.4);
            opacity: 0;
            padding: 0px 0px 134px 300px;
            transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
        }

        div.cardvisiblewrapper:hover > div.posterwrapper {
            border-radius: 6px 6px 0px 0px;
        }

}
