body, h1, p {
  margin: 0;
}

html,
footer,
header,
main,
menu,
nav,
section{
  display: block;
}

html,
body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: starjedi;
    src: url("../images/star_jedi/starjedi/Starjhol.ttf");
    font-weight: normal;
}


/* ##########################################
            SECTION: Banner Home  
########################################## */

header {
    width: 100%;
    height: 20%;
    background-image: url('../images/star-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    z-index: 100;
}

div#tabletitle {
    display: table-cell;
    vertical-align: middle;
}

header h1{
    font-family: starjedi;
    color: #ffe81f;
    font-size: 4rem;
    margin:0 auto;
    text-align: center;
    z-index: 100;
}



/* ##########################################
            SECTION: Nav Bar 
########################################## */

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(0,0,0);
    z-index: 100;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    border-top: 0;
}

.navWrapper {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #0E0E0E;
    z-index: 6;
    border-bottom: 1px solid #3C3C3C;
}

/********* Home Buttom section on nav ***********/

.homebuttonwrapper {
    position: fixed;
    z-index: 100;
}

/*
Homebutton is hidden 
*/
.homebutton {
    float: left;
    border-left: 0px solid #34898C; /*#ffe81f;*/
    border-bottom: 60px solid #34898C; /*#ffe81f;*/
    border-right: 0px solid transparent;
}

img.logo {
    display: none;
}

/* 
Homebutton is display 
*/
.homebuttonSticky{
    float: left;
    border-right: 60px solid transparent;
    border-left: 110px solid #34898C;/* #ffe81f;*/
    border-bottom: 60px solid #34898C ; /*#ffe81f;*/
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

img.logoSticky {
    max-height: 43px;
    position: absolute;
    left: 60px;
    top: 8px;
    -webkit-filter: drop-shadow(1px 1px 1px #a1a1a1);
}

img.logoSticky:hover {
    top: 7px;
    -webkit-filter: drop-shadow(2px 2px 1px #818181);
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}




/*********** white effect on nav ***********/

.naveffect{
    float: left;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    border-top: 60px solid transparent;
    transition: border-left 0.2s ease;
    -moz-transition: border-left 0.2s ease;
    -webkit-transition: border-left 0.2s ease;

}
.navSticky {
    float: left;
    position: absolute;
    z-index: -1000;
    border-right: 60px solid transparent;
    border-left: 150px solid transparent;
    border-top: 60px solid #FFFFFF;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;

    -webkit-transition-delay: 0.6s; 
    transition-delay: 0.6s;
}


/*********** nav Menu ***********/

.navbutton {
    height: 60px;
    /*display: flex;*/
}

.navbutton ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: table;
    height: 60px;
    border-right: 1px solid #3C3C3C;
}

.alignul{
    margin: 0 auto;
    padding: 0;
    height: 60px;
}


.navbutton ul > li {
    width: 130px;
    border-left: 1px solid #3C3C3C;
    height: 60px;
    position: relative;
    display: table-cell;

    transition:  background-color 0.6s ease;
    -moz-transition:  background-color 0.6s ease;
    -webkit-transition:  background-color 0.6s ease;
}

.navbutton ul > li:hover {
    background-color: #1B1B1B;

    transition:  background-color 0.6s ease;
    -moz-transition:  background-color 0.6s ease;
    -webkit-transition:  background-color 0.6s ease;
}
.navbutton li > img {
    height: 23px;
    padding-top: 5px;
}

li#active{
     text-shadow: 0px 0px 7px #00FFFF;
}

.navbutton a {
    text-align: center;
    text-decoration: none;
    display: block;
    height: 60px;
}


.navbutton a > img {
    height: 23px;
    padding-top: 5px;
}


.navbutton span {
    margin-top: -1px;
    display:block;
    color:#fff;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1rem;
}

.navbutton a[href*=index]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #FF00FF;
}

.navbutton a[href*=movies]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #FFFF00;
}

.navbutton a[href*=characters]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #FF0000;
}

.navbutton a[href*=location]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px  #00FFFF;
}

.navbutton a[href*=bio]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #00FF00;
}

.navbutton a[href*=indiana]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #FFFF00;  
}

.navbutton a[href*=aboutme]:hover {
    text-decoration:none;
    text-shadow: 0px 0px 7px #0000FF;
}



div.saberlight {
    height: 1px;
    width: 0%;
    position: relative;
    display: block;
    z-index: 4;

}

div.saberlightSticky  {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: #00FFFF 0px 0px 6px 2px; /*#FFFF00*/
    position: relative;
    display: block;
    z-index: 1000;

    

    transition: width 1.5s ease;
    -moz-transition: bwidth 1.5s ease;
    -webkit-transition: width 1.5s ease;

    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
}

/* ##########################################
            SECTION: Page main
########################################## */

.content {
    background-color: rgb(0,0,0);
    padding-bottom: 50px;
}

div#contentwrapper{
    display: list-item;
}

section {
    width: 200px;
    float: left;
    padding: 0 20px;
    padding-top: 50px;
    position: relative;
    display: table-cell;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.cardset {
    text-align: center;
    display: table;
    margin: 0 auto;
}

div.card {
    height: 100%;
    width: 200px;
    background-color: #0A0A0A;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: inset 0px 0px 1px 2px #34898C;
    margin: 0 auto;
    z-index: 2;
    transition: border-radius 0.6s ease-out;
    -moz-transition: border-radius 0.6s ease-out;
    -webkit-transition: border-radius 0.6s ease-out;
}


div.card:hover {
    cursor: pointer;
}

div.cardvisiblewrapper:hover > div.posterwrapper {
    border-radius: 6px 6px 0px 80px;
}

div.cardvisiblewrapper:hover > div.posterwrapper:after {
    border-radius:6px 6px 0px 80px;
    opacity: 1;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}

div.cardvisiblewrapper:hover > div.moviemeta h2{
    color: #F1F1F1;
    transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;

    -webkit-transition-delay: 0.2s; 
    transition-delay: 0.2s;
}

div.cardvisiblewrapper:hover > div.moviemeta p{
    color: #868585;
    transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;
}


div.cardvisiblewrapper {
    height: 250px;
    width: 200px;
    /*background-color: #303030;*/
    z-index: 5;
    border-radius: 6px;
}

div.posterwrapper {
    float: left;
    width: 200px;
    height: 149px;
    border-radius: 6px 6px 0px 100px;
    border-bottom: 2px solid #34898C;
    transition: border-radius 0.6s ease-out;
    -moz-transition: border-radius 0.6s ease-out;
    -webkit-transition: border-radius 0.6s ease-out;
}


div.posterwrapper:after {
    content: " ";
    background-color: rgba(0, 0 , 0, 0.4);
    opacity:0;
    padding: 0px 0px 133px 200px;
    border-radius: 6px 6px 0px 110px;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}



div.cardvisiblewrapper ~ span {
    position: relative;
    top: -4px;
    width: 60px;
    float: left;
    border-right: 6px solid rgba(255, 235, 59, 0);
    border-left: 6px solid rgba(255, 232, 31, 0);
    border-bottom: 9px solid rgb(0, 0, 0);
    margin-left: 63px;
    z-index: 3;
    transition: height 0.6s ease;
    -moz-transition: height 0.6s ease;
    -webkit-transition: height 0.6s ease;
}




div.moviemeta {
    height: 100px;
    width: 200px;
    float: left;
    /*background-color: #303030;*/
    border-radius: 0px 0px 6px 6px;
}

div.moviemeta h2 {
    color: #B5B5B5;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -webkit-transition: color 0.6s ease;
}

div.moviemeta h2 {
    margin: 25px 30px;
    text-align: center;
    font-size: 17px;
}

div.moviemeta p {
   margin: 15px 15px 15px 25px;
   font-size: 15px;
}

div.tatooine{
    background: url(../images/Tatooine.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.naboo{
    background: url(../images/Naboo.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.coruscant{
    background: url(../images/Coruscant.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.kamino{
    background: url(../images/Kamino.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.kashyyyk{
    background: url(../images/Kashyyk.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.korriban{
    background: url(../images/Korriban.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.mustafar{
    background: url(../images/Mustafar.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.hoth{
    background: url(../images/Hoth.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.geonosis{
    background: url(../images/Geonosis.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.alderaan{
    background: url(../images/Alderaan.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.bespin{
    background: url(../images/Bespin.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.dagobah{
    background: url(../images/Dagobah.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.endor{
    background: url(../images/Endor.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.felucia{
    background: url(../images/Felucia.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

div.yavin_4{
    background: url(../images/Yavin_4.png);
    background-size: cover;
    box-shadow: inset 0px 0px 12px 5px rgba(0,0,0,0.6);
}

/* ##########################################
            Mobile CSS
########################################## */


.burger_menu{
    display:none;
}

.burger_menu_sticky {
    display:none;
}

@media screen and (max-width: 700px){

    header h1 {
        font-size: 2rem;
    }

    .navbutton ul > li {
        border-left: 1px solid #3C3C3C;
        border-right: 1px solid #3C3C3C;
        border-bottom: 1px solid #3C3C3C;
        width: 250px;
        display: block;
        background-color: #0E0E0E;
        position: relative;
        left:-252px;
    }

    .navbutton ul {
        margin: 0;
        border-right: 0px solid #3C3C3C;
        display: block;
    }

    .burger_menu {
        background-image: url('../images/burger-menu.png');
        background-size: 40px;
        width: 250px;
        height: 61px;
        background-repeat: no-repeat;
        display: block;
        top: 15px;
        left: 15px;
        position: relative;
        z-index: 1000;
    }

    .burger_menu_sticky {
        background-image: url('../images/burger-menu.png');
        background-size: 40px;
        width: 250px;
        height: 61px;
        background-repeat: no-repeat;
        display: block;
        top: 15px;
        position: relative;
        z-index: 1000;
        left: 210px;
    }


/*    .navbutton ul:before {
        content: "";
        background-image: url('../images/burger-menu.png');
        background-size: 40px;
        width: 250px;
        height: 61px;
        background-repeat: no-repeat;
        display: block;
        top: 15px;
        left: 15px;
        position: relative;
        }
*/
        .navbutton a {
            display: block;
            text-align: left;
        }

        .navbutton a > img {
            display: inline-block;
            height: 30px;
            padding: 15px 40px;
        }

        .navbutton a > span {
            display: inline-block;
            position: relative;
            top: -23px;
        }

        .cardset {
            display: inline-block;
            width: 100%;
        }

        section {
            width: 200px;
            float:none;
            padding: 0 20px;
            padding-top: 50px;
            position: relative;
            display: block;
            margin: 0 auto;
        }
}


